* {
  margin: 0;
  padding: 0;
}

body {
  background-color: aqua;
}
header {
  background-color: blue;
  color: white;
  text-align: center;
  font-size: 50px;
  padding: 20px;
}
#main-content {
  display: flex;
}
#ques-container {
  padding: 3% 3%;
  width: 44%;
  height: 47vw;
  background-color: blanchedalmond;
}
#ques-container .question {
  margin-top: 20px;
}
#ques-container .question p {
  padding: 3px 0px;
  font-size: 50px;
}
#ques-container .options-container {
  padding: 5px 5px;
}
#ques-container .option {
  padding: 10px 10px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 20px 0px;
  background-color: rgb(118, 118, 238);
  color: white;
}
#ques-container .option:hover {
  background-color: brown;
}
#ques-container .option .o-key {
  font-size: 30px;
  padding: 3px 10px;
  font-weight: bold;
}
#ques-container .option .o-value {
  padding: 10px 3px;
  margin: auto;
}
#ques-container .next {
  text-align: center;
  padding: 10px;
}
#ques-container .next span {
  background-color: pink;
  padding: 10px 50px;
  border: 2px solid black;
  border-radius: 10px;
}
#ques-container .next span:hover {
  cursor: pointer;
  background-color: aliceblue;
}
#timer {
  padding: 3% 3%;
  font-size: 50px;
  text-align: center;
  width: 44%;
}

.hidden {
  display: none;
}
.show {
  display: contents;
}

.bgred {
  background-color: red !important;
}
.bggreen {
  background-color: green !important;
}
.disabled {
  pointer-events: none;
}
